<div class="container">
  <h2 class="">Celebrities</h2>
  <div class="">
    {{#each celebrities}}
      <div class="">
        <div class="">
        <h5>{{name}}</h5>
        </div>
       <button><a href="/celebrities/{{_id}}/edit">Edit</a></button>
      </div>
      <form action="/celebrities/{{_id}}/delete" method="post"><button>Delete</button></form>
    {{/each}}
           <button><a class="text-danger" href="/celebrities/create">Create a new celebrity</a></button> 
  </div>
</div>