<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

   <button><a class="text-danger" href="/celebrities">Check the Celebrities!</a></button>
   <button><a class="text-danger" href="/celebrities/create">Create a new celebrity</a></button> 
